body {
  background-color: #FAFAFA;
}
.error {
  background-color: #ea4c89;
  padding: 1rem;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.resultado {
  color: white;
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}
footer{
  display: block;
  width: 100%;
  margin: 160px auto 20px auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
footer p{
  color: rgba(0,0,0,0.4);
  margin: 0;
  line-height: 30px;
  font-size: 14px;
}
footer span{
  color: #395EA5;
}
footer a{
  color: #395EA5;
  text-decoration: none;
}